<%- include("../partials/head.ejs") %>
<body>
  
   <br>
   <div class="container card-article">
      
     <div class="card">
         <div class="card-header">
             Create user
         </div>
         <div class="card-body">
            <form action="/admin/users/save" method="post" >
                <label for="user" class="form-label">User</label>
                <input type="text" name="user" required placeholder="E.g. Potato" class="form-control">
        
                <label for="" class="form-label">E-mail</label>
                <input type="email" name="email" required placeholder="email@domain.com" class="form-control">
        
                <label for="" class="form-label">Password</label>
                <input type="password" name="password" class="form-control" >
                <hr>
                <button type="submit" class="btn btn-success">Register</button>
        
             </form>
         </div>
     </div>
      
   </div>
</body>


<%- include("../partials/footer.ejs") %>